.achievements {
  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
    align-items: center;
    text-align: center;
  }

  &__header {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }

  &__list {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__items {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
}
