.address {
  min-width: 21rem;

  &-list {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;

    @include tablet {
      flex-direction: row;
      column-gap: 2rem;
      flex-wrap: wrap;
    }
  }

  &-item {
    display: flex;
    align-items: start;
    column-gap: 1rem;
  }
}