.advantages {
  &__link {
    span {
      margin-left: .5rem;
    }
  }
  
  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 1.7rem;
    padding-top: 0.5rem;
    margin-bottom: 2.5rem;
    
    @include mobile {
      row-gap: 1.4rem;
      padding-top: 0;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    font-size: 1rem;
  }

  
}