.button {
  @include flex-center(true);
  
  height: var(--button-height);
  padding-inline: 1.5rem;
  font-size: 1rem;
  background-color: var(--color-dark);
  color: var(--color-light);
  font-size: 1rem;

  &--light-border-dark {
    color: var(--color-dark);
    background-color: var(--color-light);
    border: var(--border);
  }

  &--light {
    color: var(--color-dark);
    background-color: var(--color-light);
    border: none;
  }

  &--transparent {
    color: var(--color-light);
    background-color: var(--color-transparent);
    border: 1px solid var(--color-light);
  }


  &--small-height {
    height: 2.5rem;
    padding-inline: 1.25rem;
  }
}