.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 1rem;
  max-width: 18rem;
  
  @include mobile {
    max-width: 20rem;
  }

  &__title {
    @include mobile {
      line-height: 1;
    }
  }

  &__description {
    font-size: 1rem;
  }

  &__image {
    aspect-ratio: 1;
  }
}