.contacts {
  padding: 112px 20px 76px;

  @include mobile {
    padding: 4rem 1.25rem; 
  }

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
  }

  &__body {
    display: flex;
    column-gap: 5rem;

    @include tablet {
      flex-direction: column;
      align-items: center;
      row-gap: 5rem;
    }
  }

  &__info {
    max-width: 43.75rem;
    
    @include tablet {
      text-align: center;
    }

    @include mobile-s {
      text-align: start;
    }
  }

  &__above-title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &__title {
    margin-bottom: 1.5rem;
  }

  &__map {
    overflow: hidden;
  }
}