.education-kids {
  &__header {
    display: flex;
    justify-content: space-between;
    column-gap: 5rem;

    @include desktop-s {
      flex-direction: column;
      align-items: center;
      row-gap: 2rem;
      
    }

    @include mobile {
      align-items: start;
      text-align: start;
    }
  }

  &__description {
    max-width: 37.5rem;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
  }

 
}