.education-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 1.5rem;
  width: 100%;
  max-width: 24.75rem;

  @include mobile {
    row-gap: 1rem;
  }

  &__title {
    line-height: 1.4;
  }

  &__description {
    font-size: 1rem;
    
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &__link {
    font-size: 1rem;
    display: flex;
    column-gap: 0.5rem;
  }

  &__image {
    aspect-ratio: 1;
  }

  &--kids{
    align-items: start;
    text-align: left;
  }
}