.education {
  margin-top: -2.5rem;

  &__inner {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 2.5rem;
    align-items: center;

    @include mobile {
      row-gap: 1rem;
    }
  }

  &__title {
    max-width: 48rem;
  }
}