.education-adult {
  &__info {
    @include mobile {
      margin-bottom: 3rem;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;

    @include mobile {
      row-gap: 1rem;
      margin-bottom: 2rem;
    }
  }

  &__item {
    display: flex;
    align-items: start;
    column-gap: 1rem;
    font-size: 1rem;

    svg {
      min-width: 1rem;
      aspect-ratio: 1;
    }
  }

  

  
  &__buttons {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    font-size: 1rem;
  }

  &__link {
    span {
      margin-left: .5rem;
    }
  }
}