.evolution {
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 2.5rem;
  }

  &__item {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    font-size: 1rem;
  }
}