.fees-profi {
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 2.5rem;
    
  }

  &__item {
    font-size: 1rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }
}