.footer {
  padding-block: 5rem;
  font-size: 0.875rem;

  @include mobile {
    padding-block: 3rem;
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5rem;
    margin-bottom: 2rem;
    border-bottom: var(--border);
    font-weight: 600;

    @include tablet {
      flex-direction: column;
      row-gap: 3rem;
    }

    @include mobile {
      padding-bottom: 2.5rem;
      margin-bottom: 1.5rem;
    }
  }

  &__menu {
    &-list {
      display: flex;
      column-gap: 2rem;

      @include mobile {
        flex-direction: column;
        align-items: center;
        row-gap: 1.5rem;
      }
    }
  }

  &__extra {
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;

    @include tablet {
      flex-direction: column;
      align-items: center;
      row-gap: 2rem;
    }

    &-copiright{
      @include tablet {
        order: 2;
      }

      @include mobile {
        letter-spacing: -0.8px;
      }
    }

    &-list {
      display: flex;
      column-gap: 1.5rem;

      @include tablet {
        order: 1;
      }

      @include mobile {
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
      }
    }
    
    &-link {
      text-decoration: underline;
    }
  }
}