.gratis {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    padding: 3rem ;
    border: var(--border);

    @include mobile {
      flex-direction: column;
      row-gap: 1.5rem;
      padding: 2rem;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 52rem;
    row-gap: 1.5rem;

    @include desktop-s {
      max-width: 40rem;
    }

    @include mobile {
      align-items: center;
      text-align: center;
    }
  }

  &__buttons {
    display: flex;
    column-gap: 1rem;
  }
}