.grid {
  &--3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.5rem 3rem;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 3rem;
    }
  }

  &--4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem 2rem;

    @include desktop-s {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3.5rem 3rem;
    }

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 3rem;
    }
  }
}