.header {
  padding: 0.8rem 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    column-gap: 2rem;

    @include desktop-s{
      column-gap: 1rem;
    }

    @include tablet {
      padding-inline: 1.25rem;
    }
  }

  &__menu {
    margin-left: auto;
    font-size: 16px;

    &-list {
      display: flex;
      align-items: center;
      column-gap: 2rem;

      @include desktop-s {
        column-gap: .85rem;
      }
    }

    a {
      position: relative;
      display: inline-flex;
      align-items: center;
      height: 3rem;

      span {
        margin-left: 0.25rem;
      }

      @include hover{
        &::after {
          width: 100%;
        }
      }

      &::after{
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        translate: -50%;
        width: 0;
        height: 2px;
        background-color: currentColor;
        transition-duration: inherit;
      }
    }
  }
}