.hero-fees {
  &__inner {
    @include desktop-s {
     text-align: center;
    }
    @include mobile {
      text-align: left;
    }
  }

  &__info {
    @include mobile {
      padding-inline: var(--container-padding-x);
      padding-top: var(--section-padding-y);
      padding-bottom: 1.5rem;
    }
  }

  &__buttons { 
    display: flex;
    column-gap: .8rem;

    @include desktop-s {
      justify-content: center;
    }
    

    @include mobile {
      justify-content: start;
    }
  }

  &__image {
    @include mobile {
      aspect-ratio: 1;
    }
  }
}