.hero-kids {
  &__inner {
    background-image: url(../../images/education-kids.jpg);
    background-size: cover;
    height: 30.57rem;
    position: relative;
    max-width: 90rem;
    margin: 0 auto;

    @include mobile {
      height: 26.5rem;
    }
  }

  &__inner {
    &::after {
      background: rgba(16, 20, 30, .6);
      content: '';
      display: block;
      height: 100%;
    }
  }

  &__info {
    align-items: start;
    text-align: start;
  }
}