.hero {
  display: flex;
  column-gap: 5rem;
  margin-top: -0.25rem;
  
  @include desktop {
    column-gap: 4rem;
  }

  @include desktop-s {
    flex-direction: column; 
    align-items: center;
    row-gap: 3rem;
  } 

  
  &__info {
    width: 100%;
    max-width: 35rem;
    margin-top: 16rem;

    @include desktop {
      max-width: 30rem;
    }

    @include desktop-s {
      margin-top: 1rem;
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    @include desktop-s {
      text-align: center;
    }
  }

  &__description {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    @include desktop-s {
      text-align: center;
    }
  }

  &__buttons {
    display: flex;
    column-gap: 1rem;

    @include desktop-s {
      justify-content: center;
    }

    @include mobile-s {
      flex-direction: column;
      row-gap: 1rem;
    }
  }
}