.info {
  width: 100%;
  max-width: 37.5rem;

  &--center{
    width: 100%;
    max-width: 48rem;
  }

  @include desktop-s {
    margin-bottom: 2.5rem;
  }

  &__above-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &__title {
    margin-bottom: 1.5rem;

    @include mobile {
      margin-bottom: 1.25rem;
    }
  }

  &__description {
    margin-bottom: 2rem;

    @include mobile {
      margin-bottom: 1.5rem;
    }
  }
  
}