.info-invers {
    padding: 7rem 5rem;
    position: absolute;
    color: var(--color-light);

    @include tablet {
      padding: 7rem 3rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include mobile {
      padding: 3rem 1rem;
    }

    &__title {
      margin-bottom: 1.5rem;

      &--center {
        max-width: 48rem;

        @include mobile {
          margin-bottom: 1.25rem;
        }
      }
    }

    &__description {
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
      
      max-width: 48rem;

      &--center {
        @include mobile {
          &:not(:last-child) {
            margin-bottom: 1.5rem;
          }
        }
      }
    }

    &__buttons {
      display: flex;
      column-gap: 1rem;
    }

    &--center {
      padding: 0;
      top: 19rem;
      left: 2rem;
      right: 2rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include mobile {
        top: 16rem;
      }
    }
}