.kids-card {
  padding: 2rem;
  border: var(--border);

  &__header {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: var(--border);
  }

  &__info {
    text-align: left;

    &-header {
      display: flex;
      justify-content: space-between;
    }
  }

  &__image {
    margin-bottom: 1.5rem;
  }

  &__above-title {
    margin-bottom: .5rem;
  }

  &__description {
    font-size: 1rem;
    text-align: left;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    row-gap: 0.5rem;

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    display: flex;
    column-gap: 1rem;
  }

  &__body-title {
    font-size: 1rem;
    text-align: left;
    margin-bottom: 1.5rem;
  }
}