.lesson {
  &__inner {
    background-image: url(../../images/lesson.jpg);
    background-size: cover;
    height: 27.5rem;
    position: relative;
    max-width: 90rem;
    margin: 0 auto;

    @include mobile {
      height: 23.625rem;
    }
  }

  &__inner {
    &::after {
      background: rgba(16, 20, 30, .6);
      content: '';
      display: block;
      height: 100%;
    }
  }
 
}