.price-kids {
  &__inner {
    row-gap: 3rem;

    @include mobile {
      row-gap: 0;
    }
  }
  
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 39rem);
    min-height: 36rem;
    column-gap: 2rem;

    @include desktop {
      grid-template-columns: repeat(1, 45rem);
      grid-template-rows: repeat(2, auto);
      row-gap: 2rem;
    }

    @include tablet {
      grid-template-columns: repeat(1, 39rem);
      row-gap: 2rem;
    }
    
    @include mobile {
      grid-template-columns: repeat(1, 21rem);
      row-gap: 2rem;
    }
  }

  &__button {
    margin-top: auto;

    @include tablet {
      padding-inline: .5rem;
    }
  }
}