.price-card {
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;

  border: var(--border);

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    margin-bottom: 2.5rem;
  }
  
  &__title {
    span {
      font-size: 2rem;
    }
  }

  &__subtitle {
    font-size: 1rem;
  }

  &__list {
    text-align: left;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-bottom: 1.5rem;
  }

  &__item {
    display: flex;
    column-gap: 1rem;
    font-size: 1rem;
  }


}