.profi {
  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 5rem;

    @include tablet {
      row-gap: 3rem;
    }
  }

  &__body {
    display: flex;

    @include tablet {
      flex-direction: column;
      align-items: center;
      row-gap: 1.25rem;
    }
  }

  &__title {
    @include tablet {
      text-align: center;
    }
  }

  &__info {
    width: 100%;
    max-width: 37.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    @include tablet {
      row-gap: 1.5rem;
    }
  }

  &__buttons {
    display: flex;
    column-gap: 1rem;

    @include tablet {
      align-self: center;
    }
  }
}