.register {
  &__inner {
    display: flex;
    border: var(--border);

    @include desktop-s {
      flex-direction: column;
      align-items: center;
    }
  }

  &__body {
    padding: 3rem;

    @include desktop-s {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    @include mobile {
      padding: 2rem;
    }
  } 

  &__title {
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    @include mobile {
      &:not(:last-child) {
        margin-bottom: 1.25rem;
      }
    }
  }

  &__description {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    @include mobile {
      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }
  }

  &-form {
    display: flex;
    column-gap: 1rem;
    max-width: 32rem;
    margin-bottom: .5rem;
      
    &__input {
      height: var(--button-height);
      min-width: 17.6rem;
      padding-inline: .5rem;
    }

    @include desktop {
      flex-direction: column;
      row-gap: 1rem;
    }
    
    &__button {
      width: 100%;
      max-width: 13.43rem;
      padding-inline: 1rem;

      @include desktop {
        max-width: 17.6rem;
      }
    }
  }
  
  &__definition {
    font-size: .75rem;
    display: inline;
    
    span {
      text-decoration: underline;
    }
  }


}