.results {
  &__wrapper-info {
    @include desktop-s {
      display: flex;
      flex-direction: column;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: 4rem;
      }
    }

    @include mobile {
      align-items: start;
    }
  }

  

  &__info {
    &:not(:last-child) {
      margin-bottom: 3.2rem;
    }

    @include desktop-s {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    @include mobile {
      &:not(:last-child) {
        margin-bottom: 0.1rem;
      }
    }
  }

  &__procents-list {
    display: flex;
    font-size: 1rem;
    column-gap: 4rem;
    
    @include desktop-s {
      column-gap: 0.5rem; 
    }

    @include mobile {
      flex-direction: column;
      row-gap: 1.5rem;
    }
  }

  &__procent-item {
    display: flex;
    flex-direction: column;
    row-gap: 0rem;

    @include desktop-s {
      max-width: 18rem;
    }

    @include mobile {
      max-width: 21rem;
    }
  }
}