.scool {
  &__link {
    span {
      margin-left: .5rem;
    }
  }

  &__description{
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    font-size: 1rem;

    @include desktop-s {
      justify-content: center;
    }
  }
  
  iframe {
    @include mobile {
      height: 348px;
      width: 100%;
    }
  }
}