.summer {
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  &__item {
    font-size: 1rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }

  &__buttons {
    font-size: 1rem;
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
  }

  &__link {
    span {
      margin-left: 0.5rem;
    }
  }
}