.team {
  &__info {
    margin-bottom: 3rem;

    @include mobile {
      margin-bottom: 1rem;
    }
  }

  &__list {
    margin-bottom: 4.5rem;

    @include mobile {
      margin-bottom: 3rem;
    }
  }

  &__bottom-title {
    h4 {
      margin-block: 0;
    }
    &:not(:last-child) {
      margin-bottom: 1.4rem;
    }
  }
  
  &__bottom-description {
    &:not(:last-child) {
      margin-bottom: 1.2rem;
    }
  }
}