.trainer {
  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 1.7rem;
    padding-top: 0.5rem;
    margin-bottom: .5rem;
      
    @include mobile {
      row-gap: 1.4rem;
      padding-top: 0;
      margin-bottom: 1rem;
    }
  }
}