body{
  @include fluid-text(18, 16);

  font-family: var(--font-family-base);
  font-weight: 400;

  line-height: 1.5;
  color: var(--color-dark);
  background-color: var(--color-light);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1,h2,h3,h4,h5 {
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  @include fluid-text(56, 40)
}
h2 {
  @include fluid-text(48, 36)
}
h3 {
  @include fluid-text(40, 32)
}
h4 {
  @include fluid-text(32, 24)
}
h5 {
  @include fluid-text(24, 20)
}
h6 {
  @include fluid-text(20,18)
}

.h1 {
  @include fluid-text(56, 40)
}

.h2 {
  @include mobile {
    @include fluid-text(48, 36)
  }
}
.h4 {
  @include fluid-text(20,18)
}