:root {
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-gray:  #e4e2df;
  --color-transparent: transparent;
 
  --border: 1px solid var(--color-dark);
  --border-radius: 14px;
  --border-radius-small: 7px;
  --border-radius-large: 45px;
  --shadow: 0 5px 0 0 var(--color-dark);

  --font-family-base: 'Roboto', sans-serif;

  --container-width: 1280px;
  --container-padding-x: 20px;

  --section-padding-y: 112px;

  --input-height: 48px;
  --button-height: 50px;

  --transition-duration: 0.2s;            

  @include desktop{
    --section-padding-y: 88px;
  }
  @include mobile{
    --section-padding-y: 64px;
  }
}

